/**
 * Code generated by Microsoft (R) AutoRest Code Generator 0.11.0.0
 * Changes may cause incorrect behavior and will be lost if the code is
 * regenerated.
 */

package helloworld;

import com.microsoft.rest.ServiceCallback;
import com.microsoft.rest.ServiceException;
import com.microsoft.rest.ServiceResponseCallback;
import retrofit.client.Response;
import retrofit.http.GET;

/**
 * The interface for MyClient class.
 */
public interface MyClient {
    /**
     * Gets the URI used as the base for all cloud service requests.
     * @return The BaseUri value.
     */
    String getBaseUri();

    /**
     * The interface defining all the services for MyClient to be
     * used by Retrofit to perform actually REST calls.
     */
    interface MyClientService {
        @GET("/api/HelloWorld")
        Response getGreeting() throws ServiceException;

        @GET("/api/HelloWorld")
        void getGreetingAsync(ServiceResponseCallback cb);

    }
    /**
     *
     * @return the String object if successful.
     * @throws ServiceException the exception wrapped in ServiceException if failed.
     */
    String getGreeting() throws ServiceException;

    /**
     *
     * @param serviceCallback the async ServiceCallback to handle successful and failed responses.
     */
    void getGreetingAsync(final ServiceCallback<String> serviceCallback);

}
